<h2>Showing job card asssigned</h2>
<div class="row">
		<div align="center" class="well ">
			Dated : <%= @jobcard.dated%><br>
			Press Name : <%= @jobcard.press_name%><br>
			Rim Quntity : <%= @jobcard.quantity_rim%><br>
			Size : <%= @jobcard.size%><br>
			Paper Type : <%= @jobcard.paper_type %><br>
			Article Number : <%= @jobcard.article_num %><br>
			Print Quantity : <%= @jobcard.print_quantity %><br>
			Stock : <%= @jobcard.stock_id %><hr>
		</div>	
	</div>