<h2 align="center">Showing job card asssigned</h2>
<div  align= "center" class="container">
	<div align="center" class="well">
		<table id="stocks_listings">
		
			<tr>
				<th>Date</th>
				<th>Press Name</th>
				<th>Quantity Rim</th>
				<th>Size</th>
				<th>Paper Quality</th>
				<th>Print Count</th>
				<th>Article Number</th>
			</tr>
			<tr>
				<td><%= @jobcard.dated%></td>
				<td><%= @jobcard.press_name%></td>
				<td><%= @jobcard.quantity_rim%></td>
				<td><%= @jobcard.size%></td>
				<td><%= @jobcard.paper_type %></td>
				<td><%= @jobcard.prints %></td>
				<td><%= @jobcard.article_num %></td>
			</tr>
		</div>	
	</table>
	<%= link_to "All jobcards",  stock_jobcards_path  %>
	</div>
</div>