<h2 align="center">All records</h2>

	<div  align= "center" class="container">
		<div align="center" class="well">	
			<table id="stocks_listings">
					<tr>
						<th>Supplier</th>
						<th>Quality</th>
						<th>Size</th>
						<th>Quantity</th>
						<th>Create Job Card</th>
					</tr>
					<% @stock.each do |stock| %>
					<div class="container">
						<div class="row">	
							<tr>
							<td><%= stock.paper_from %></td>
							<td><%= stock.paper_type %></td>
							<td><%= stock.size %></td>
							<td><%= stock.quantity %></td>
							<td><%= link_to "Create", new_stock_jobcard_path(stock)%></td>
							</div>
							</tr>
						</div>
					</div>
					<% end %>
			</table>
		</div>
	</div>

