<h2 align="center">All records</h2>

	<div  align= "center" class="container">
		<div align="center" class="well">	
			<table id="stocks_listings">
					<tr>
						<!-- <th>Supplier</th> -->
						<th>Quality</th>
						<th>Size</th>
						<th>Gramage</th>
						<th>Quantity</th>
						<th>Create Job Card</th>
					</tr>
					<% @stock.each do |stock| %>
					<div class="container">
						<div class="row">	
							<tr>
							<!-- <td><%= stock.paper_from %></td> -->
							<td><%= stock.paper_type %></td>
							<td><%= stock.size %></td>
							<td><%= stock.gramage%></td>
							<td><%= stock.quantity %></td>
							<% if stock.quantity > 0 %>
								<td><%= link_to "Create JobCard", new_stock_jobcard_path(stock)%></td>
							<% else %>
								<td>Stock is Empty / <%= link_to "Update Stock",  edit_stock_path(stock) %></td>
							<% end %>
							</div>
							</tr>
						</div>
					</div>
					<% end %>
			</table>
		</div>
	</div>

