<h2 align="center">Showing record</h2>
	<div class="row">
		<div align="center" class="well ">
			<table id="stocks_listings">	
			<tr>
				<th>Supplier</th>
				<th>Paper_Type</th>
				<th>Quntity</th>
				<th>Size</th>
				<th>Gramage</th>
			</tr>
			<tr>
				<td> <%= @stock.paper_from%> </td>
				<td> <%= @stock.paper_type%> </td>
				<td> <%= @stock.quantity%> </td>
				<td> <%= @stock.size%> </td>
				<td><%= @stock.gramage%></td>
			</tr>
			</table>
		</div>	
	</div>
